*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#6c63ff;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.signup-box{

    width:420px;

    background:white;

    padding:40px;

    border-radius:10px;

    box-shadow:0 15px 30px rgba(0,0,0,.2);

}

.signup-box h2{

    text-align:center;

    margin-bottom:25px;

}

.signup-box input{

    width:100%;

    padding:12px;

    margin-bottom:18px;

}

button{

    width:100%;

    padding:12px;

    background:#6c63ff;

    color:white;

    border:none;

    cursor:pointer;

}

button:hover{

    background:#564de0;

}

p{

    text-align:center;

    margin-top:20px;

}